################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/alex-ovpn-telbot/FileContentIndex
/.vs/alex-ovpn-telbot/v17
/.vs
